<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c416e79406.js" crossorigin="anonymous"></script>
  

</head>
<!--<button id="open-card-button" class="text-3xl mr-10 ">Menu</i></button>-->
<body class=" bg-[#faf0e6] text-[#a18167]" style="font-family: 'Tilt Warp', cursive;">
    
<div class="flex flex-cols justify-center items-center h-[100vh] w-[90vw] text-justify mx-5">
    <h1 class="text-xl">
        We are commited to providing the best user-experience possible, but this process takes time and effort. We are working on provding the full webpage on your mobile devices until then please re-visit via a laptop. We regret the inconvenience caused
    </h1>
</div>
</div>
</body>

</html>