{% extends 'base.html' %}
{% block content %}
<div class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-6xl font-bold mb-4">Thank You!</h1>
      <p class="text-2xl mb-4">Your order has been placed successfully.</p>
      <p class="text-2xl mb-8">We appreciate your business!</p>
      <a href="/"
        class="inline-block bg-[#a18167] text-white text-xl px-8 py-4 rounded-full hover:bg-[#cdb891]">Back to Home</a>
    </div>
  </div>
{% endblock content %}